name: ginkgo
on:
  workflow_dispatch:

jobs:
  kernelbuild:
    runs-on: ubuntu-latest

    steps:
    - name: Creating Env!
      uses: actions/checkout@v2

    - name: Setting up Env!
      run: |
         sudo apt update
         sudo apt install -y \
          bc bison ca-certificates curl flex gcc git libc6-dev libssl-dev \
          openssl python-is-python3 ssh wget zip sudo make clang \
          gcc-arm-linux-gnueabi software-properties-common build-essential \
          libarchive-tools gcc-aarch64-linux-gnu libssl-dev libffi-dev \
          libncurses5-dev zlib1g zlib1g-dev libreadline-dev libbz2-dev \
          libsqlite3-dev make gcc pigz python3 cpio lld
    - name: Building Kernel..
      run: |
          chmod +x build.sh && bash build.sh
      shell: bash
      env:
         CHATID: ${{ secrets.CHAT_ID }}
         API_BOT: ${{ secrets.BOT_API }}
         
